<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<title>简易登录界面 - bjyadmin</title>
		<bootstrapcss/>
		<webuploadercss/>
		<style type="text/css">
			.box {
				margin-top: 50px;
				padding: 5px;
				width: 600px;
				border: 1px solid red;
			}
			
			h4 {
				padding: 5px 0;
			}
		</style>
	</head>

	<body>
		<p> </p>
		
		<div class="box">
			<h4> <a target="_blank" href="http://baijunyao.com/article/80">thinkphp整合系列之webuploader异步预览上传</a></h4>
			<form id="geetest" action="{:url('Home/Index/webuploader')}" method="post">
				<webuploader name="image" /> 自定义附加字段：<input type="text" name="extend" value="上传的文件描述"> <input type="submit" value="提交"></form>
			<a href="{:url('Home/Index/webuploader')}" target="_blank">点击在新页面中打开一个上传demo</a>
		</div>
		<bootstrapjs/>
		<script src="http://static.geetest.com/static/tools/gt.js"></script>
		<webuploaderjs/>
		
	</body>

</html>